name: CI

on:
  push:
    branches: [ master, ci-tests ]
    
  pull_request:
    branches:
      - master

      # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - 
        name: Output Run ID
        run: echo ${{ github.run_id }}
      -
        name: Output Run Number
        run: echo ${{ github.run_number }}
      -
        name: Output Run Attempt
        run: echo ${{ github.run_attempt }}
      -  
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        if: ${{ github.ref == 'refs/heads/master' }}
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build Docker images. (And push if branch == master)
        uses: docker/build-push-action@v2.7.0
        with:
          push: ${{ github.ref == 'refs/heads/master' }}
          file: TgNews.Worker/Dockerfile
          tags: ghcr.io/roganik/tgnews:latest
          build-args: APP_VERSION_SUFFIX=${{ github.run_number }}